<div class="center jumbotron">
<h1>Editing employee</h1>

<%= render 'form' %>

<%= link_to 'Show', @employee , class: "btn btn-primary"%> |
<%= link_to 'Back', employees_path , class: "btn btn-primary"%>
</div>