<div class="center jumbotron">
<h1>Editing Project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project , class: "btn btn-primary"%> |
<%= link_to 'Back', projects_path , class: "btn btn-primary"%>
</div>