<div class="center jumbotron">
<h1>Edit Organization</h1>

<%= render 'form' %>

<%= link_to 'Show', @organization , class: "btn btn-primary"%> |
<%= link_to 'Back', organizations_path , class: "btn btn-primary"%>
</div>