<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <li><%= link_to 'Home Page', root_path %></li>
           
            <li><%= link_to 'Projects', projects_path %></li>
           <li> <%= link_to 'Employees', employees_path %></li>
          </ul>
        </nav>
      </div>
    </header>